h3{
	color: dimgrey;
}
header{
	background-color: black;
}
a{
	text-decoration: none;
	color: dimgrey;
}
ul{
	list-style: none;
}
body{
	background-color: dimgrey;
}
section{
	background-color: dimgrey;
}
img{
	max-width:10% ;
	height: auto;
}
h3#title{
color: black;
}
td, th{
	border: 2px; border-style: solid;

}


